{% load static %}
<!DOCTYPE html>

<hmtl lang="en">
    <head>
        <meta charset="UTF-8">
        <title>CustomPCs</title>
        <link rel="stylesheet" href="{% static 'CustomPcs.css' %}">
    </head>
        <header>
        <div class="NavBar">
            <a href="{% url 'CustomPcs_Home' %}">Home</a>
            <a href="{% url 'AllEntries' %}">The Builds</a>
            <a href="{% url 'BuildForm' %}">Create</a>
        </div>
    </header>

    <body>
    {% block content %}

    <p>CONTENT COMING SOON!</p>
{% endblock %}
    </body>

    <section class="footer">
        <p>&copy;2022 - CustomPc Builds</p>
    </section>
</hmtl>
