{% extends "Crypto/Crypto_Base.html" %}


{% block title %}The Digital World of Crypto{% endblock %}

{% block content %}

<div class="container">
    <h3>Welcome to the Digital World of Cryptocurrency!</h3>
    <div class="P-container">
        <p>A cryptocurrency, crypto, or coin is a digital currency
            designed to work as a medium of exchange through a computer
            network that is not reliant on any central authority, such as a
            government or bank, to uphold or maintain it</p>
    </div>
</div>

{% endblock %}