{% extends "Dogs/Dogs_base.html" %}


{% block title %}The World of Dogs{% endblock %}

{% block content %}

<div class="container">
    <h3>Welcome to the World of Dogs!</h3>
    <div class="P-container">
        <p>Dogs have been known a human's best friend for hundreds of years.
            Over the years dogs have been bred and mixed to achieve certain physical attributes.
            For example, a dachshund was bred from a mixture of a miniature French pointer and a pinscher.
            This was to create a hunting dog with short, strong legs to enable them to dig out prey
            in burrows. We have created this app to help you learn about the many kinds of breeds
            and what makes them so special!</p>
    </div>
</div>

{% endblock %}