{% load static %}
<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name = "viewport" content = "width = device-width, initial-scale = 1">
        <link rel="stylesheet" href="{% static '/css/CampingListTracker_layout.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static '/css/CampingListTracker_headers.css' %}">
        <title>{% block title %}Camping List Tracker{% endblock %}</title>
    </head>

        <!-- Navbar Start -->
    <nav class="nav nav-pills nav-justified">
      <a class="nav-item nav-link " href="{% url 'cl_home' %}">Home</a>
      <a class="nav-item nav-link " href="{% url 'cl_create' %}">Create</a>
      <a class="nav-item nav-link " href="{% url 'cl_list' %}">List</a>
      <a class="nav-item nav-link " href="{% url 'cl_api' %}">Temperature</a>
      <a class="nav-item nav-link " href="{% url 'cl_save_api' 1000 %}">Saved Temperature</a>
      <a class="nav-item nav-link " href="{% url 'cl_bs' %}">Camping Hacks</a>
    </nav>
        <!-- Navbar End -->

        <!-- Body Start -->
    <body id="body">
    <div class="content-container-container">
        <div class="content-container">
        {% block content %}
        {% endblock %}
        </div>
    </div>

<!-- Body End -->

    </body>
</html>