{% extends "MusicReviews/MusicReviews_base.html" %}


{% block title %}Music Reviews Around the World{% endblock %}

{% block content %}

<div class="container">
    <h3>Welcome to Music Reviews of the World!</h3>
    <div class="P-container">
        <p>Reviews of live music performances are typically short
            articles that tell readers about the performers or
            group(s) that were involved and the pieces or songs
            that were performed. The comments made by reviewers
            fall, roughly into two categories: technical comments
            and subjective/artistic comments.</p>
    </div>
</div>

{% endblock %}