{% load static %}
<!DOCTYPE html>

<html lang="en">

	<head>
		<link rel= "stylesheet" href="{% static '/css/dirtbikes.css' %}">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&family=Nanum+Myeongjo&display=swap" rel="stylesheet">
		<title>{% block title%}Dirtbikes{% endblock %}</title>
	</head>

	<div class="topnav">
  <a href="{% url 'dirtbikes_home' %}">Home</a>
  <a href="{% url 'dirtbikes_create' %}">Create</a>
  <a href="{% url 'dirtbikes_read' %}">View</a>
</div>
	<body id="body">
<div class="content-container-container">
	<div class="content-container">
		{% block content %}
		{% endblock %}
	</div>
</div>



	</body>

<footer>
	Author: Jacob Lopez
</footer>
</html>