{% extends "Inventory_base.html" %}

{% block content %}
<h1>Details</h1>
<table class="details">
    <tr>
        <td>Name:</td>
        <td>{{ material.material_name }}</td>
    </tr>
    <tr>
        <td>Location:</td>
        <td>{{ material.location }}</td>
    </tr>
    <tr>
        <td>Category:</td>
        <td> {{ material.chemical_category }}</td>
    </tr>
    <tr>
        <td>Amount:</td>
        <td>{{ material.amount }}</td>
    </tr>
    <tr>
        <td>Hazards:</td>
        <td>{{ material.hazards }}</td>
    </tr>
    <tr>
        <td>Description:</td>
        <td> {{ material.chemical_description }}</td>
    </tr>
</table>
<button><a href="{% url 'inventory_update' material.id %}">Update Material</a></button>


{% endblock %}