{% load static %}
<!DOCTYPE html>

<html lang="en">

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    `   <link rel="stylesheet" href="{% static '/CSS/Travel.css' %}">
        <title>{% block title%}Travel guide{% endblock %}</title>
    </head>

   <body>
   <div class="topnav">
  <a href="{% url 'Travel_home' %}">Home</a>
  <a href="{% url 'Travel_create' %}">Create</a>
  <a href="{% url 'Travel_read' %}">Read</a>
  <a href="{% url 'Travel_API' %}">API</a>
  <a href="{% url 'Travel_BS' %}">Beautiful Soup</a>
  <a href="{% url 'Travel_save_api' 1000 %}">Saved API</a>
</div>
    <div class="page_container" id="home">
        <div class="sticky">

        <header class="header-title">
            <h1>{% block header %}{% endblock %}</h1>
        </header>
        </div>
        <div>{% block content %}{% endblock %}</div>
    </div>

</body>
    {% include "Travel_footer.html" %}
</html>
