{% extends "Nutrition_Base.html" %}

{% block title %}Nutrition{% endblock %}

{% block header %}Delete?{% endblock %}

{% block content %}

<form method = "POST" action = ".">
    {% csrf_token %}
    <h2>Confirmation</h2>
    <p>Are you sure you would like to delete "{{ item.Username }}'s account?</p>

        {{ item.as_p }}

    <input type="submit" value = "Yes, delete it!" class="btn">
    <a href="{% url 'Nutrition_display' %}"><button class="btn" type="button">Cancel</button></a>
</form>

{% endblock %}