{%  extends "Nutrition_base.html" %}

{%  block title %} Nutrition Calculator {% endblock %}

{% block header %} Please enter your information. {% endblock %}

{% block content %}

<h3>Create an Account</h3>
    <center>
        <div id = "account-form">
            <form method = "POST">
                {% csrf_token %}

                <table class = "edit">
                    {{ form.as_table }}
                </table>
                <button id = "new-account-button" type = "submit" name = "Save_Account", class="btn">Submit</button>
            </form>
        </div>
    </center>


{% endblock %}