{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'VinylCollection/css/vinyl_style.css' %}" type="text/css">
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Heebo">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
                integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
                crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" type="text/javascript"></script>
    </head>
    <body>
        <div id="page-container">
            {% include './navbar.html' %}
            <div id="content-wrap">
                <div>
                    <header>
                        <h1>{% block header %}{% endblock %}</h1>
                    </header>
                </div>
                {% block content %}{% endblock %}
            </div>
            {% include './footer.html' %}
        </div>
        <script src="{% static 'VinylCollection/js/home.js' %}" type="text/javascript"></script>
    </body>
</html>