{% extends "HSDT_base.html" %}

{% block title %}Search Cards{% endblock %}

{# The goal here is to allow users to search for a string, and then the API will pull
up all cards which contain the string that the user searched. #}

{% block content %}
<h1>Card Library Search</h1>
<h3>Search any string below to see relevant cards:</h3>
<form method="POST" class="form-text">
    {% csrf_token %}
    {{ search_form.as_p }}
    <button type="submit" class="btn">Search</button>
</form>
<br>
<table>
    <tr>
        <th>Card Name</th>
        <th>Card Type</th>
        <th>Card Class</th>
        <th>Card Rarity</th>
    </tr>

{% for card in card_search %}
    <tr>
        <td>{{ card.name }}</td>
        <td>{{ card.type }}</td>
        <td>{{ card.playerClass }}</td>
        <td>{{ card.rarity }}</td>
    </tr>
{% endfor %}
</table>
{% endblock %}