{% extends "Sportsapp_base.html" %}
{% block title %}API{% endblock %}
{% block content %}
<div class="league-table">
    <table class="table">
      <thead>
        <tr class="table-light">
          <th scope="col">ID No.</th>
          <th scope="col">Team Name</th>
          <th scope="col">Coach</th>
          <th scope="col">Venue</th>
          <th scope="col">Founded</th>
          <th scope="col">Color</th>
          <th scope="col">Address</th>
        </tr>
      </thead>
      <tbody>
      {% for team in competitions.teams %}
        <tr>
          <th scope="row">{{team.id}}</th>
          <td>{{team.name}}</td>
          <td>{{team.coach.name}}</td>
          <td>{{team.venue}}</td>
          <td>{{team.founded}}</td>
          <td>{{team.clubColors}}</td>
          <td>{{team.address}}</td>

        </tr>
      {% endfor %}
      </tbody>
    </table>
</div>
{% endblock %}