{% extends "HolidayPlanner_base.html" %}
{% load static %}
<link href="https://www.dafontfree.net/embed/b2xlby1zY3JpcHQtYm9sZCZkYXRhLzE2L28vODM2MDAvT2xlb1NjcmlwdC1Cb2xkLnR0Zg" rel="stylesheet" type="text/css"/>
{% block title %}Holiday Planner Home{% endblock %}
{% block header %}Holiday Planner Home{% endblock %}
{% block content %}
<div class="content-home">
    <h3 class="h3-home">A website to help to showcase CRUD operations and through it help you organise your next holiday better!</h3>
</div>
{% endblock %}