{% extends "dfort_base.html" %}

{% block content %}

<br>
<br>
<br>
<br>

<h1>Welcome to my Live Project</h1>
<p>
    This app was created by Wesley Morford for the
    Python Live Project <br>
    over 2 weeks during my time at the <a href="https://www.learncodinganywhere.com/">The Tech Academy.</a>
    <br><br>
    The App features CRUD functionality and uses the Open5E API and <br>
    Beautiful Soup to scrape the Dwarf Fortress Website
    <br><br>

</p>

<br>
<br>
<br>
<br>


{% endblock %}