
<div class="container">
  <nav class="navbar navbar-expand-lg bg-light bg-primary">
    <div class="container-fluid">

    <a class="container-fluid" href="{% url 'Veggie_home' %}">Home</a>

    <a class="container-fluid" href="{% url 'veggie_form' %}">Add Recipe</a>

    <a class="container-fluid" href="{% url 'veggie_recipe' %}">Recipes</a>

    <a class="container-fluid" href="{% url 'veggie_api' %}">API Joke</a>

    <a class="container-fluid" href="{% url 'veggie_api_2' %}">API wine</a>

    <a class="container-fluid" href="{% url 'veggie_bs' %}">BeautifulSoup</a>

    </div>
  </nav>
</div>

