{% extends "anime_base.html" %}

{% block title %}Anime-maniac's{% endblock %}

{% block header %}Details{% endblock %}

{% block content %}

<div class="admin_panel">
    <div class="formObject_container">
        <table id="aniDB">
            <tr>
                <th>Title</th>
                <th>Type</th>
                <th>Genre</th>
                <th>Rating</th>
                <th>Review</th>
                <th>Picture</th>
            </tr>
            <tr>
                <td>{{ anime.title }}</td>
                <td>{{ anime.type }}</td>
                <td>{{ anime.genre }}</td>
                <td>{{ anime.rating }}</td>
                <td>{{ anime.review }}</td>
                <td>{{ anime.picture }}</td>
            </tr>
        </table>
    </div>
    <div class="formBtn_container">
        <button class="btn"><a href="{% url 'anime_update' anime.id %}">Update</a></button>
        <button class="btn"><a href="{% url 'anime_delete' anime.id %}">Delete</a></button>
        <button class="btn"><a href="{% url 'anime_archive' %}">Back to Archive</a></button>
    </div>
</div>

{% endblock %}