{% load static %}
<!DOCTYPE html>
  <html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>{% block title%}Dwarf Fort{% endblock%}</title>
        <link rel="stylesheet" href="{% static '/CSS/dfort_layout.css' %}">
        <script src="{% static 'JavaScript/dfort_script.js' %}" defer></script>
        <script src="{% static 'JavaScript/dfort_news.js' %}" defer></script>
        <script src="{% static 'JavaScript/dfort_visualizer.js' %}" defer></script>
    </head>

     <div class="edge-top">
          <nav>
              <a href="{% url 'dfort_home' %}" class="nav-button">Home</a>
              <a href="{% url 'dfort_news' %}" class="nav-button">News</a>
              <a href="{% url 'dfort_about' %}" class="nav-button">About</a>
              <a href="{% url 'dfort_create' %}" class="nav-button">Create</a>
              <a href="{% url 'dfort_display' %}" class="nav-button">View</a>
              <a href="{% url 'dfort_api' %}" class="nav-button">API</a>
              <a href="{% url 'dfort_arena' %}" class="nav-button">Arena</a>
          </nav>
      </div>

    <body>
          {% block content %}
          {% endblock %}
    </body>

    <footer>
          Site Created by Wesley Morford  2022
    </footer>
    <div class="edge-bottom"></div>

  </html>