{% extends "Sneakers/Sneakers_base.html" %}
{% block title %}Our Current Sneakers{% endblock %}
{% block content %}

    <h3 class="sneaker-header">OUR CURRENT SNEAKERS</h3>



  <div class="cards">
    {% for sneak in currSneak %}
  <div class="card">
    <img src="{{ sneak.image }}" alt="{{ sneak.name }}" style="width:100%">
    <h1>{{ sneak }}</h1>
      <p class="card-text">
        <ul style="list-style: none;">
          <li>{{ sneak.year }}</li>
          <li>{{ sneak.brand }}</li>
          <li>{{ sneak.name }}</li>
        </ul>
      </p>
      <p class="price">{{ sneak.price }}</p>
      <p><button> <a href="{% url 'Details' sneak.id %}">See More</a></button></p>
  </div>
    {% endfor %}
  </div>


{% endblock %}