{% extends 'deadByDaylight_base.html' %}

{% block title %}NotePad{% endblock %}
{% block content %}
<div class="center_notes">
    <div class="details_note_container">
        <p class="note-text"><b>Name:</b> Dwight Fairfield</p>
        <p class="note-text"><b>Portrait:</b> https://steamuserimages-a.akamaihd.net/ugc/1688271020310536445/5F28703C07A02F630B364BB2F9DEF2C1F02BDA7C/?imw=512&&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false</p>
        <p class="note-text"><b>Image:</b> https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/8fde87e7-9e99-430f-b8cd-b1255d5ac4b2/ddk81c4-74a4e46a-0b19-431f-bc82-a9433f1b0ee7.png/v1/fill/w_1280,h_2666,strp/dwight_fairfield__old_model___by_kabalstein_ddk81c4-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MjY2NiIsInBhdGgiOiJcL2ZcLzhmZGU4N2U3LTllOTktNDMwZi1iOGNkLWIxMjU1ZDVhYzRiMlwvZGRrODFjNC03NGE0ZTQ2YS0wYjE5LTQzMWYtYmM4Mi1hOTQzM2YxYjBlZTcucG5nIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.fYU7VjaYNdFDUJLw5qBYCchd0HyAZ6_H6eWmEHHKTV8</p>
        <p class="note-text"><b>Release:</b> 06/14/2016</p>
        <p class="note-text"><b>Perk1:</b> Bond</p>
        <p class="note-text"><b>Perk1 Image:</b> https://cdna.artstation.com/p/assets/images/images/009/685/672/large/craig-nacroix-cropped-1920-1080-906558.jpg?1520337873</p>
        <p class="note-text"><b>Perk1 Description:</b> Unlocks potential in your Aura-reading ability:&lt;br&gt;&lt;br&gt;<br><br>
            The Auras of all other Survivors within 36 meters of your location are revealed to you.</p>
        <p class="note-text"><b>Perk2:</b> Prove Thyself</p>
        <p class="note-text"><b>Perk2 Image:</b> https://cdnb.artstation.com/p/assets/images/images/009/683/663/large/craig-nacroix-cropped-1920-1080-906556.jpg?1520327398</p>
        <p class="note-text"><b>Perk2 Description:</b> Increases your Repair speed by +15% for each other Survivors within 4 meters of your location, up to a maximum of +45%.&lt;br&gt;<br>&lt;br&gt;<br>
            This effect is also applied to all other Survivors within that range.&lt;br&gt;<br>&lt;br&gt;<br>
            Grants 100% bonus Bloodpoints for Co-operative actions.&lt;br&gt;<br>&lt;br&gt;<br>
            Survivors can only be affected by one instance of Prove Thyself at a time.</p>
        <p class="note-text"><b>Perk3:</b> Leader</p>
        <p class="note-text"><b>Perk3 Image:</b> https://cdnb.artstation.com/p/assets/images/images/009/626/965/large/craig-nacroix-cropped-1920-1080-905849.jpg?1520013327</p>
        <p class="note-text"><b>Perk3 Description:</b> You are able to organise a team to cooperate more efficiently.&lt;br&gt;<br>&lt;br&gt;<br>
            Increases the Action speeds of other Survivors in Healing, Sabotaging, Unhooking, Cleansing, Opening, and Unlocking by 25% while they are within 8 meters of your location.&lt;br&gt;<br>&lt;br&gt;<br>
            This effect lingers for 15 seconds when leaving Leader's range.&lt;br&gt;<br>&lt;br&gt;<br>
            Survivors can only be affected by one instance of Leader at a time.</p>
        <p class="note-text"><b>Lore:</b> Dwight was geeky and scrawny through high school. He always wanted to be one of the cool kids, but somehow never had the charisma. He tried out for the football team but was cut, the basketball team didn't even take a look, and his grades were distinctly below average. One weekend, on a team-building exercise from his dead-end job, Dwight's boss led them deep into the woods before breaking out his family recipe moonshine. Dwight remembered taking the first sip before waking up late the next morning all alone. During the night, the others had abandoned him. Once again, the laughing stock of the community Dwight tried to hike his way out of the woods. That was the last anyone ever heard of Dwight Fairfield.&lt;br&gt;<br>&lt;br&gt;<br>
            Dwight isn't the typical guy you think of when someone says "Survivor". He lacks that certain pizzazz and without his glasses, he's more or less blind. But as the sun sets and the woods come alive, Dwight clasps to his rat race life, making sure that he'll live to see another day even though something unimaginable is after him. Dwight won't stop. He'll survive no matter what. As others spent hours being seen in high school. He spent hours becoming invisible and avoiding danger. And it doesn't matter if it's dangers in the hallway or dangers in the woods. Survival is key. As other employees panic when terror infects them, Dwight makes use of his disturbing teen experience. The tables have now turned and now others need to follow to Dwight's firm directions if they are to survive as he knows how to disappear.</p>
    </div>
    <div class="details_note_container">
        <p class="note-text"><b>Name:</b> The Trapper</p>
        <p class="note-text"><b>Movement:</b> 4.6</p>
        <p class="note-text"><b>Terror:</b> 32</p>
        <p class="note-text"><b>Portrait:</b> https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRS-uf0z3x1bX0XRFDT8okVIKd6D9YDyoD_LwVNUPmb7g&usqp=CAU&ec=48665699</p>
        <p class="note-text"><b>Image:</b> https://preview.redd.it/gjg2dd78q5q11.png?auto=webp&s=ffe219b6b4a46efdd116e096c220c657412df3ba</p>
        <p class="note-text"><b>Release:</b> 06/14/2016</p>
        <p class="note-text"><b>Perk1:</b> Unnerving Presence</p>
        <p class="note-text"><b>Perk1 Image:</b> https://cdnb.artstation.com/p/assets/images/images/009/700/319/large/craig-nacroix-cropped-1920-1080-906734.jpg?1520408862</p>
        <p class="note-text"><b>Perk1 Description:</b> Survivors repairing or healing within your Terror Radius suffer from the following effects:&lt;br&gt;&lt;br&gt;<br><br>
            Increases the Trigger odds of Skill Checks by 10%.&lt;br&gt;<br>
            Decreases the Success zone of Skill Checks by 60%.</p>
        <p class="note-text"><b>Perk2:</b> Brutal Strength</p>
        <p class="note-text"><b>Perk2: Image</b> https://cdnb.artstation.com/p/assets/images/images/009/990/471/large/craig-nacroix-cropped-1920-1080-910553.jpg?1521981222</p>
        <p class="note-text"><b>Perk2 Description:</b> Your great strength allows you to shred through your prey's defenses.&lt;br&gt;<br>
            Increases the Action speed of breaking Pallets  and Breakable Walls, and damaging Generators by 20 %.</p>
        <p class="note-text"><b>Perk3:</b> Agitation</p>
        <p class="note-text"><b>Perk3 Image:</b> https://images2.alphacoders.com/910/thumb-350-910556.jpg</p>
        <p class="note-text"><b>Perk3 Description:</b> You get excited in anticipation of hooking your prey.<br>
            While carrying a Survivor you benefit from the following effects:<br>&lt;br&gt;&lt;br&gt;
            <br>
            Increases your Carrying Movement speed by 18 %.&lt;br&gt;<br>
            Increases your Terror Radius by 12 meters.</p>
        <p class="note-text"><b>Lore:</b> Evan MacMillan idolised his father. It wasn't just that he was heir to a great fortune, it was the way he ran the estate. Raised under his firm hand, Evan had taken to running the workforce with an iron hand. Production was always high and the MacMillan Estate prospered under father and son.<br>&lt;br&gt;&lt;br&gt;
            <br>
            As Archie MacMillan's mental health slowly disintegrated, Evan protected him from the herd who wanted a piece of the fortune. No matter what his father asked of him, Evan would do.<br>&lt;br&gt;&lt;br&gt;
            <br>
            When Archie MacMillan finally snapped, Evan became his enforcer in what would become known as the worst mass murder in modern history. They never proved that Evan lead over a hundred men into those dark tunnels before detonating the explosives and sealing them to their fate. The tale of the MacMillan Estate is a tale of wealth and power gone very wrong.<br>&lt;br&gt;&lt;br&gt;
            <br>
            How many victims fell to the hands of father and son is unknown. No record is ever made of what became of Evan MacMillan. His father is another unsolved puzzle, found trapped in the locked basement of his own warehouse - starved and abandoned.
    </div>
</div>
{% endblock %}