<!--API QUERY BASED ON USER INPUT-->
<div class="apiSearch title">
    <h3>Search for a Game</h3>
    <form method="POST">
        {% csrf_token %}
        <input name="inputquery" type="text">       <!--Create input element to allow the user to enter a 'search' term-->
        <button class="submitBtn" type="submit">Search</button>   <!--'Trigger' the action method of the form--><!--A submit button MUST be inside the form tag to work-->
    </form>

    <!--READ AND RENDER results of API query above-->
    <div class="api">
        <!--If multiple API calls are used, MUST use a (for) loop so that the correct API response is used-->
        {% for i in queryList %}
        <div class="api-container position-relative">
            <a href="https://www.cheapshark.com/search#q:{{ i.query }}" target="_blank">
                <div class="api-img">
                    <img src="{{ i.thumb }}">
                </div>
                <div class="api-title">
                    <h3>{{ i.title }}</h3>
                </div>
                <div class="api-text">
                    Lowest price found:
                    <p class="salePrice"><b>$ {{i.salePrice}}</b></p>
                </div>
            </a>
            <div class="api-wishlist">
                {% include "GameHoard/GH_create_wishlist.html" %}
            </div>
        </div>
        <br>
        <div class="api-steamBtn">
            <a href="https://store.steampowered.com/search/?term={{ i.title }}" target="_blank">
                <button type="button">Check Price on Steam</button>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

<br>

<!--READ API results, parse through, and render each as an element-->
<div class="api">
    <div class="api flex">
        {% for i in responseList %}
        <div class="api-container position-relative">
            <a href="https://www.cheapshark.com/redirect?dealID={{ i.id }}" target="_blank">
                <div class="api-img">
                    <img src="{{ i.thumb }}">
                </div>
                <div class="api-title">
                    <h3>{{ i.title }}</h3>
                </div>
                <div class="api-text">
                    <p>Rating: {{i.rating}}%</p>
                    <p class="salePrice"><b>$ {{i.salePrice}}</b></p>
                    <p>Normal Price: <s>$ {{i.fullPrice}}</s></p>
                </div>
            </a>
            {% include "GameHoard/GH_create_wishlist.html" %}
        </div>

        {% endfor %}
    </div>
</div>
