{% extends "fe_Base.html" %}


{% block content %}
<h1>Details</h1>

<h3>{{ entry.symbol }}</h3>
<p>{{ entry.style }}</p>
    <table class="detailsTbl">
            <tr>
                <th>{{ entry.documents_set_1 }}</th>
                <th>{{ entry.documents_set_2 }}</th>
                <th>{{ entry.documents_set_3 }}</th>
            </tr>
    </table>

<button><a href="{% url 'fe_Update' entry.id %}">Update Entry</a></button>
<button><a href="{% url 'fe_Read' %}">View Entries</a></button>
<button><a href="{% url 'fe_Evaluation' %}">Add Entry</a></button>
{{ entry.as_p }}
{% endblock %}