{% extends "ja3_base.html" %}

{% block title %}
    Mercenary Roster
{% endblock %}

{% block header %}
    Mercenary Roster
{% endblock %}

{% block content %}
    <p>Please select a previously-enrolled mercenary from the list,<br>or click "New Mercenary" to enroll a new contact.</p>



<div>
    <form name="mercForm" method="POST" action="">
        <div class="formObject">
            {% csrf_token %}
            <label for="merc_id">Select a mercenary from the list to edit:<br></label>
            <select id="merc_id" name="merc" onChange="top.location.href=this.options[this.selectedIndex].value;" placeholder="">
                <option selected disabled>Choose a Mercenary...</option>
            {% for merc in mercs %}
                <option value="../{{ merc.pk }}/details/">{{ merc.callsign }}</option>
            {% endfor %}
            </select>
            <div class="fromBtn_container">
                <a href="{% url 'ja3_createRecord' %}"><button type="button" class="btn">New Mercenary</button></a>
                <a href="{% url 'ja3_home' %}"><button type="button" class="btn">Logout of Profile</button></a>
            </div>
        </div>
    </form>
</div>



{% endblock %}