{% extends "ChristmasList_base.html" %}

{% block header %}Merry Christmas{% endblock %}
{% block content %}

    <div class="admin_panel">
        <br>
        <h2 class="home">Welcome to the North Pole, where every day is Christmas!</h2>
        <br>
        <br>
        <p>There are many fun activities at the North Pole, you can start by making a wish list for Santa!</p>
        <br>
        <p>We also have Christmas Jokes and poems, you can navigate to those using the navigation bar above</p>
        <br>
        <p>Have fun, and most importantly, Merry Christmas!</p>
        <br>
    </div>

{% endblock %}